{% extends 'base.html' %}
{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ free_tutorials.title }}{% endblock %}</title>
</head>

<body>
  {% block content %}

  <br><br>

  <div class="container">
    <!-- Plyr -->
    <!-- <div id="player" data-plyr-provider="youtube" data-plyr-embed-id="{{ free_tutorials.thumb }}" captions></div><br> -->

    <div class="plyr__video-embed" id="player">
      <iframe
        src="https://www.youtube.com/embed/{{ free_tutorials.thumb }}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
        allowfullscreen
        allowtransparency
        allow="autoplay"
        ></iframe>
    </div><br>

    <!-- Accordion -->
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button bold t-18" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{ free_tutorials.title }}
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin
            adds the appropriate classes that we use to style each element. These classes control the overall
            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom
            CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
            <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>

  {% endblock %}

</body>

</html>